
h1
{
    color : rgb(8, 57, 85);
    text-align : center;
    font-style: oblique;
    font-family: cursive;
    width:-200px;
    padding:250px;
}
form {
    width: 50px;
    margin: -250px auto;
    font-family: cursive;

  }
  .signupbtn{
      padding: 0 100px;
      margin: 0 0;
      background-color: lightgreen;
  }

  
  .container {
    padding: 2px;
  }

  